@using ecom.CustomLogic;
@model IEnumerable<ecom.Models.Product>

@{
    var page1 = "All Products";
    
}
<div class="category-header">
    <span>All</span> Products
</div>
<partial name="_productslist"/>
