
<div class="slider">
    <div class="slide active">
        <img src="~/images/homeslide2.jpg" alt="">
        <div class="info">
            <h2>Computers</h2>
            <p>Get the latest PC's in gaming, development or personal use</p>
            <div class="slider-buttons">
                <a asp-area="" asp-controller="Home" asp-action="Computers">Shop Now</a>
            </div>
        </div>
    </div>
    <div class="slide">
        <img src="~/images/homeslide4.jpg" alt="">
        <div class="info">
            <h2>Gaming</h2>
            <p>Sony, Microsoft and Nintendo </p>
            <div class="slider-buttons">
                <a asp-area="" asp-controller="Home" asp-action="Gaming">Shop Now</a>
            </div>
        </div>
    </div>
    <div class="slide">
        <img src="~/images/homeslide3.jpg" alt="">
        <div class="info">
            <h2>Phones</h2>
            <p>Stylish, Modern and Affordable Smartphones </p>
            <div class="slider-buttons">
                <a asp-area="" asp-controller="Home" asp-action="Phones">Shop Now</a>
            </div>
        </div>
    </div>
    <div class="slide">
        <img src="~/images/homeslide5.jpg" alt="">
        <div class="info">
            <h2>Televisions</h2>
            <p>Ultra HD Modern and Extreme Realism Quality</p>
            <div class="slider-buttons">
                <a asp-area="" asp-controller="Home" asp-action="Televisions">Shop Now</a>
            </div>
        </div>
    </div>
    <div class="slide">
        <img src="~/images/homeslide6.jpg" alt="">
        <div class="info">
            <h2>Toys</h2>
            <p>Awaken the inner kid in you </p>
            <div class="slider-buttons">
                <a asp-area="" asp-controller="Home" asp-action="Toys">Shop Now</a>
            </div>
        </div>
    </div>
    <div class="slider-nav">
        <div class="btn active"></div>
        <div class="btn"></div>
        <div class="btn"></div>
        <div class="btn"></div>
        <div class="btn"></div>
    </div>
</div>