@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager;

@{
    IEnumerable<Cart> cartList = ViewData["cartList"] as IEnumerable<Cart>;

    var cartCount = 0;
    var userId = UserManager.GetUserId(User);

        foreach(Cart cart in cartList)
        {
            if (cart.customer_id == userId)
            {   
                cartCount++;
            }
        }
}

<div class="cart">
    <div class="my-cart"><a asp-area="" asp-controller="Home" asp-action="addToCart">My Cart</a></div>
    <div class="cart-count">@cartCount</div>
</div>